@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
h1,h2,h3,h4,h5,h6{
  color: #000000;

}
section{
  padding-block: 40px;
}
.active{
  color: #3c8224;
}
::-webkit-scrollbar {
  width: 6px;
}

Track::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #3c8224;
  border-radius: 3px;
}
.loader {
  width: 45px;
  aspect-ratio: .75;
  --c: no-repeat linear-gradient(#3c8224 0 0);
  background:
    var(--c) 0% 50%,
    var(--c) 50% 50%,
    var(--c) 100% 50%;
  animation: l7 1s infinite linear alternate;
}

@keyframes l7 {
  0% {
    background-size: 20% 50%, 20% 50%, 20% 50%
  }

  20% {
    background-size: 20% 20%, 20% 50%, 20% 50%
  }

  40% {
    background-size: 20% 100%, 20% 20%, 20% 50%
  }

  60% {
    background-size: 20% 50%, 20% 100%, 20% 20%
  }

  80% {
    background-size: 20% 50%, 20% 50%, 20% 100%
  }

  100% {
    background-size: 20% 50%, 20% 50%, 20% 50%
  }
}